<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="header :: header"></head>


<body>

<div id="main">

<h2>Internal error</h2>
<p/>

<div th:if="${#httpServletRequest.getAttribute('javax.servlet.error.exception') != null}" th:remove="tag">
    <div th:if="${#httpServletRequest.getAttribute('javax.servlet.error.exception') instanceof T(javax.servlet.ServletException)}" th:remove="tag" 
        th:object="${#httpServletRequest.getAttribute('javax.servlet.error.exception').rootCause}">
        <div th:remove="tag" th:utext="*{'** Root cause is: ' + message + '&lt;br/&gt;'}"></div>
        <div th:remove="tag" th:each="st : *{stackTrace}" th:text="${st}"></div>
    </div>
    <div th:unless="${#httpServletRequest.getAttribute('javax.servlet.error.exception') instanceof T(javax.servlet.ServletException)}" th:remove="tag" 
        th:object="${#httpServletRequest.getAttribute('javax.servlet.error.exception')}">
        <div th:remove="tag" 
            th:utext="*{class + ': ' + message + '&lt;br/&gt;'}">
        </div>
        <div th:remove="tag" 
            th:utext="${'at '+ st.toString() + '&lt;br/&gt;'}"    
            th:each="st : *{stackTrace}" >
        </div>
    </div>
</div>


<p th:if="${#httpServletRequest.getAttribute('javax.servlet.error.exception') == null}" th:text="'No error information available'"></p>


<br/>
Cookies:
<br/>

<p th:remove="tag" th:each="c : ${#httpServletRequest.cookies}" th:text="${c.name + '=[' + c.value + ']'}"></p>


<p/>
<br/>



<div th:substituteby="footer :: footer"></div>

</div>

</body>

</html>