<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:substituteby="layout :: header">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="../../styles/petclinic.css" type="text/css"/>
        <title>PetClinic :: a Spring Framework demonstration</title>  
    </head>
    <body>
        <div id="main">
            <h2>Veterinarians:</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Specialties</th>
                    </tr>
                </thead>
                <tr th:each="vet : ${vets.vetList}">
                      <td th:text="${vet.firstName + ' ' + vet.lastName}">vet name</td>
                      <td>
                	    <span th:remove="tag" th:each="specialty : ${vet.specialties}" th:text="${specialty.name}">
                            specialty name
                        </span>
                        <span th:remove="tag" th:if="${vet.nrOfSpecialties == 0}">none</span>
                    </td>
                </tr>
            </table>
            <table class="table-buttons">
                <tr>
                    <td>
                        <a th:href="@{'/vets.xml'}" href="#">View as XML</a>
                    </td>
                </tr>
            </table>
            
            <table th:substituteby="layout :: footer" class="footer">
                <tr>
                    <td><a href="welcome.html">Home</a></td>
                    <td align="right"><img src="../../images/springsource-logo.png" 
                        alt="Sponsored by SpringSource"></img></td>
                </tr>
            </table>
        </div>        
    </body>
</html>