<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:substituteby="layout :: header">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../styles/petclinic.css" type="text/css" />
        <title>PetClinic :: a Spring Framework demonstration</title>  
    </head>
    <body>
        <div id="main">
        
            <img th:src="@{/static/images/pets.png}" src="../../images/pets.png" 
                alt="Pets image" style="float: right; position:relative;right:30px;"></img>
            <h2 th:text="#{welcome}">Welcome</h2>
            
            <ul>
                <li><a th:href="@{/owners/search}" href="#">Find owner</a></li>
                <li><a th:href="@{/vets}" href="#">Display all veterinarians</a></li>
                <li><a th:href="@{/static/html/tutorial.html}" href="../../html/tutorial.html">Tutorial</a></li>
            </ul>
            
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            
            <table th:substituteby="layout :: footer" class="footer">
                <tr>
                    <td><a href="welcome.html">Home</a></td>
                    <td style="float: right;" ><img src="../../images/springsource-logo.png" 
                        alt="Sponsored by SpringSource"></img></td>
                </tr>
            </table>
        </div>
    </body>
</html>