<img th:src="@{/resources/images/banner-graphic.png}" />

<div class="navbar" style="width: 601px;">
    <div class="navbar-inner">
        <ul class="nav">
            <li style="width: 100px;"><a th:href="@{/}"><i class="icon-home"></i>Home</a></li>
            <li style="width: 130px;"><a th:href="@{/owners/find.html}"><i class="icon-search"></i>Find owners</a></li>
            <li style="width: 140px;"><a th:href="@{/vets.html}"><i class="icon-th-list"></i>Veterinarians</a></li>
            <li style="width: 90px;"><a th:href="@{/oups.html}" title="trigger a RuntimeException to see how it is handled"><i class="icon-warning-sign"></i>Error</a></li>
            <li style="width: 80px;"><a href="#" title="not available yet. Work in progress!!"><i class=" icon-question-sign"></i>Help</a></li>
        </ul>
    </div>
</div>
	
