<!--
PetClinic :: a Spring Framework demonstration
-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PetClinic :: a Spring Framework demonstration</title>

    <link th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/petclinic.css}" rel="stylesheet"/>
    
    <script th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.1.custom.js}"></script>
    
    <link th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.1.custom.css}" rel="stylesheet"></link>
    
</head>


