<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:substituteby="layout :: header">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="../../../styles/petclinic.css" type="text/css"/>
        <title>PetClinic :: a Spring Framework demonstration</title>  
    </head>
    <body>
        <div id="main">
            <h2>Find Owners:</h2>
            <form th:action="@{/owners}" action="list.html" th:object="${owner}" method="get">
                <table>
                    <tr>
                        <th>
                            Last Name:  <span th:errors="*{lastName}" class="errors">name is required!</span>
                            <br/> 
                            <input type="text" th:field="*{lastName}" size="30" maxlength="80" />
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p class="submit"><input type="submit" value="Find Owners"/></p>
                        </td>
                    </tr>
                </table>
            </form>
            <br/>
            <a th:href="@{/owners/new}" href="form.html">Add Owner</a>
            <table th:substituteby="layout :: footer" class="footer">
                <tr>
                    <td><a href="../welcome.html">Home</a></td>
                    <td style="float: right;"><img src="../../../images/springsource-logo.png" 
                        alt="Sponsored by SpringSource"></img></td>
                </tr>
            </table>
        </div>
    </body>
</html>